# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.venv

# Node / Frontend
node_modules/
dist/
build/
.next/
*.log

# Database & SQLite
*.db
*.sqlite
*.sqlite3

# Environment & IDE
.env
.env.local
.vscode/
.idea/
.DS_Store
